:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e3f2fd; // light blue
  }
  
  .register-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 450px;
  }