<div class="register-container">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="usernameInput" placeholder="Username">
      <label for="usernameInput">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
      <label for="emailInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="passwordInput" placeholder="Password">
      <label for="passwordInput">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="passwordConfirmInput" placeholder="PasswordConfirm">
      <label for="passwordConfirmInput">PasswordConfirm</label>
    </div>
    <button type="submit" class="btn btn-primary w-100">Register</button>
</div>